{% extends 'base.html.twig' %}

{% block title %}Reglamento{% endblock %}

{% block body %}
<div class="container">
    <h1>Reglamento</h1>

        <ul style="background-color:black">
            <li> CLASIFICACION CORTA "18 MINUTOS DE QUALY." </li>
            <li> SAFETY CAR Y VUELTA DE FORMACIÓN EN MODO RETRANSMISIÓN.</li>
            <li> LIMITES DE PISTA EN ESTRICTO.</li>
            <li> GRACIAS A LA MEJORÍA DE TODOS LOS PILOTOS, SE CORRERÁ CON
            CONTROL DE TRACCIÓN EN MEDIO O SIN CONTROL.</li>
            <li> CARRERA 50%.</li>
            <li> CAMPEONATO AMPLIADO CON 10 CARRERAS.</li>
            <li> FORMATO "RULETA DE LA DESGRACIA" ANTES DE EMPEZAR LA
            CARRERA, SE GIRARÁ DE UNA RULETA DONDE SE APLICARÁN
            HANDICAPS. EJEMPLOS: PROHIBIDO USAR BLANDOS, DOS PARADAS
            OBLIGATORIAS, CARRERA SPRINT, PARRILLA INVERTIDA ETC...</li>
            <li> PUNTÚAN LOS 10 PRIMEROS PILOTOS, SIGUIENDO LA PUNTUACION
            DE 10 MAXIMO PUNTOS "PRIMERA POSICION" 1 PUNTO PARA EL
            "DECIMO". PUNTO EXTRA PARA LA VUELTA RÁPIDA.</li>
            <li> CARRERA SPRINT PUNTÚAN LOS 5 PRIMEROS. 5 PUNTOS
            LA MAXIMA PUNTUACIÓN Y 1 PUNTO PARA EL QUINTO</li>
            <li> DIVERTIRSE</li>
        </ul>    
</div>
{% endblock %}
