{% extends 'base.html.twig' %}

{% block title %}New Pilotos{% endblock %}

{% block body %}
    <h1>Create new Pilotos</h1>

    {{ include('pilotos/_form.html.twig') }}

    <a href="{{ path('app_pilotos_index') }}">Volver al listado</a>
{% endblock %}
