{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<div class="container">

    <img style="display:flex;margin:auto" src="{{ asset('img/mercato.png') }}" alt="NANOCUP!"/>
    <h5>EL MERCATO DE PILOTOS ESTÁ ACTIVO!! </h5>
    <h1>SORTEO</h1>
    <h5>JUEVES, 22:00. SORTEO DE CIRCUITOS,
        ESCUDERÍA Y COMPAÑERO DE EQUIPO.
    </h5>
    {% if is_granted('ROLE_ADMIN') %}
        <h5><a href="{{ path('app_pilotos_index') }}">Ver listado de pilotos</a></h5>
        <h5><a href="{{ path('app_equipos_index') }}">Ver listado de equipos</a></h5>
    {% endif %}
    
    <h5>Sigue conectado para informarte de todas las novedades!</h5>

</div>
{% endblock %}
