{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<h1>Test</h1>
<h1>RESULTADOS DEL SORTEO</h1>
    <h5>
    PAREJAS Y ESCUDERIAS

    1 -J35Blas - Jherrada - Ferrari

    2 - Jimmy - Miguel - Red Bull

    3 - Lloren - Sollo - Williams

    4 - Chest - Albertix - Alfa Romeo

    5 - Shokoloko - Dani - AlphaTauri

    6  - Chapron - Adrivica - McLaren

    7 - Fran - Cristian - Aston Martin

    8 - Sergio V - Emilio - Alpine

    9 - Gerard - Javi - Haas 

    10 - Victor - Soto - Mercedes
    </h5>
{% endblock %}
