<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME!</title>
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
</head>

<body>
        <section class="layout">
            <div class="header"><h1> COOMING SOON ! </h1></div>
            <div class="leftSide">2</div>
            <div class="body"><img src="{{ asset('img/logo.enc') }}" alt="NANOCUP!"/></div>
            <div class="rightSide">4</div>
            <div class="footer"><p>Sigue conectado para enterarte de todas las novedades!</p></div>
        </section>
</body>

</html>